.modal {
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  gap: 57px;
  max-width: 600px;
  width: 100%;
  height: 100vh;
  max-height: 0;
  opacity: 0;
  padding: 17px 40px 40px;
  background-color: $color-default-white;
  transition: opacity $trans-default, max-height $trans-default;
  overflow: hidden;
  pointer-events: none;
  z-index: 2;

  @include vp-1023 {
    gap: 10px;
    padding: 17px 20px 20px;
  }

  body &--opened {
    max-height: 100vh;
    opacity: 1;
    pointer-events: all;
  }

  &__cont {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__title {
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: 88%;
    letter-spacing: -1.2px;
  }

  &__cross {
    width: 48px;
    height: 48px;
    padding: 0;
    flex-shrink: 0;
    border-radius: 50%;
    border: 1px solid $color-black-trans;
  }

  &__form {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
  }

  &__head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid $color-black-trans;
    flex-shrink: 0;
  }

  &__count {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 112%;
  }

  &__clean {
    position: relative;
    left: 11px;
    padding: 10px;
    text-align: right;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 112%;
    opacity: 0.4;
  }

  &__list {
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: auto;
    flex-grow: 1;
    height: calc(100vh - 290px);
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__item {
    display: grid;
    grid-template-columns: auto 189px;
    align-items: center;
    gap: 20px;
    padding: 12px 0;

    @include vp-499 {
      display: flex;
      justify-content: center;
    }
  }

  &__item:not(:first-child) {
    border-top: 1px solid $color-black-trans;
  }

  &__card {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
  }

  &__pic {
    overflow: hidden;
    position: relative;
    top: -7px;
  }

  &__pic img {
    transform: scale(1.4);
  }

  &__box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
  }

  &__name {
    width: 165px;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 112%;
    letter-spacing: 0.32px;
  }

  &__price {
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 100%;
  }

  &__price span {
    margin: 0 0 0 5px;
  }

  &__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 7px 0 0;
  }

  &__minus {
    width: 40px;
    height: 24px;
    padding: 0;
    border-radius: 4px;
    background-color: $color-white-smoke;
    flex-shrink: 0;

    &::after {
      @include pse {
        width: 10px;
        height: 1px;
        background-color: $color-default-black;
      }
    }
  }

  &__board {
    position: relative;
    left: -1px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
  }

  &__plus {
    width: 40px;
    height: 24px;
    padding: 0;
    border-radius: 4px;
    background-color: $color-white-smoke;
    flex-shrink: 0;

    &::before,
    &::after {
      @include pse {
        position: relative;
        width: 10px;
        height: 1px;
        background-color: $color-default-black;
      }
    }

    &::before {
      left: 4px;
      transform: rotate(90deg);
    }

    &::after {
      left: -6px;
    }
  }

  &__delete {
    position: relative;
    left: 22px;
    width: 40px;
    height: 40px;
    padding: 0;
    flex-shrink: 0;

    &::before,
    &::after {
      @include pse {
        position: relative;
        width: 18px;
        height: 1.4px;
        background-color: $color-swamp-trans;
      }
    }

    &::before {
      top: 0;
      left: 3px;
      transform: rotate(45deg);
    }

    &::after {
      top: 0;
      left: -15px;
      transform: rotate(135deg);
    }
  }

  &__foot {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
  }

  &__bag {
    display: flex;
    flex-direction: column;
    gap: 6px;
  }

  &__sign {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
  }

  &__total {
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: -0.6px;
  }

  &__submit {
    width: 240px;
    height: 56px;
    padding: 10px;
    flex-shrink: 0;
    border-radius: 4px;
    background-color: $color-padua;
    text-align: center;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.72px;
    text-transform: uppercase;

    @include vp-1023 {
      width: 170px;
    }
  }
}
