.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  height: fit-content;
  background-color: transparent;
  border: none;
  transition: opacity $trans-default;
  cursor: pointer;

  &:hover {
    opacity: 0.7;
  }
}
