extends ../components/base/layout

block variables
  - const title = "Frontend test by its.agency"
  - const wrapperMods = ""
  - const hasHeader = true
  - const headerMods = ""
  - const hasFooter = true
  - const footerMods = ""
  - const currentUrl = "index.html"

block main
  main
    +about()
    +info()

block modals
